<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>All Lessons</title>
    <style>
        input[type=checkbox] { 
        position: relative;
        top:60px;
        left: 230px;
        width: 20px;
        height: 20px;
         }

        button{
            display: block;
        }
    </style>

</head>
<body>

<div class="banner">

<img src="{{ url_for('static', filename='imgs/logo.png') }}" class="logo">

<div class="navbar">
    <ul>
<li><a href="/home" class="active">Go Back Home</a></li>
<li><a href="/aboutus" class="active">About Us</a></li>
<li><a href="/signout" class="active">Sign out</a></li>
    </ul>
</div>

<div>
<h1 id="yo"> Lessons Library! </h1>
</div>

<div class="done1">
    <label style="color:white;"> Lesson 1 </label>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/G8ElT-63o3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div>
    <form method="post" action="/all"> 
        <input type="checkbox" name="checkbox1" value="done" autocomplete="off" {%if checked_items[checkbox1] == "done" %} checked {%endif%}>
        <button type="submit"><span></span> I'm done </button>
    </form>
    </div>
</div>

<div class="done2">
    <label style="color:white;"> Lesson 2 </label>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/954xC5JrTrU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div>
    <form method="post" action="/all"> 
        <input type="checkbox" name="checkbox2" value="done" autocomplete="off" {%if checked_items[checkbox2] == "done" %} checked {%endif%}>
        <button type="submit"><span></span> I'm done </button>
    </form>
    </div>
</div>

<div class="done3">
    <label style="color:white;"> Lesson 3 </label>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/T3dgN08l88c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <form method="post" action="/all"> 
        <input type="checkbox" name="checkbox3" value="done" autocomplete="off" {%if checked_items[checkbox3] == "done" %} checked {%endif%}>
        <button type="submit"><span></span> I'm done </button>
    </form>
</div>

<div class="done4">
    <label style="color:white;"> Lesson 4 </label>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/Fsfe719mzXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div>
    <form method="post" action="/all"> 
        <input type="checkbox" name="checkbox4" value="done" autocomplete="off" {%if checked_items[checkbox4] == "done" %} checked {%endif%}>
        <button type="submit"><span></span> I'm done </button>
    </form>
    </div>
</div>

</div>
</body>
</html>