<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Lessons</title>
</head>
<body>

<a href="/aboutus"><button>About Us</button></a>
<a href="/home"><button>Go Back Home</button></a>
<a href="/signout"><button>Sign out</button></a>

<div>
    <label> Lesson 1 </label>
    <div>
    <form> 
        <input type="radio" name="done" value="cats">Done
    </form>
    </div>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/G8ElT-63o3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<div>
    <label> Lesson 2 </label>
    <div>
    <form> 
        <input type="radio" name="done" value="cats">Done
    </form>
    </div>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/954xC5JrTrU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

<div>
    <label> Lesson 3 </label>
    <div>
    <form> 
        <input type="radio" name="done" value="cats">Done
    </form>
    </div>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/T3dgN08l88c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<div>
    <label> Lesson 4 </label>
    <div>
    <form> 
        <input type="radio" name="done" value="cats">Done
    </form>
    </div>
    <div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/Fsfe719mzXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>


</body>
</html>