<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div class="banner">

<img src="{{ url_for('static', filename='imgs/logo.png') }}" class="logo">

<div class="navbar">
    <ul>
<li> <a href="/aboutus">About Us</a> </li>
<li> <a href="/all">All Lessons</a> </li>
<li> <a href="/signout">Sign out</a> </li>
    </ul>
</div>

<div class="woof">
<h1> Welcome {{name}}</h1>
</div>

<div class="puke">

<div class="sun"> 
<h2> Information:</h2>
<p> ViolinForYou is anon-profit website which promotes a young violinist community. </p>
</div>

<div> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/EAQzwC-Bb_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="rain"> 
<h2> Credits: </h2>
<a href="https://www.youtube.com"><p> YouTube </p></a>
<a href="https://www.pinterest.com/"><p> Pinterest </p></a>
<a href="https://www.google.com/"><p> Google </p></a>
</div>

<form method="post" action="/home">

        <div>
            <h2 id="yoho"> Give us feedback! </h2>
            <div class="ouch">
                <input type="text"  name="feedback" id="feedback"  placeholder="Type here!" style="color:#836344;" maxlength="300">
            </div>
            <button type="submit"><span></span> Submit </button>
        </div>
</form>

</div>
</div>

</body>
</html>