<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

<div class="banner">
    <form method="post" action="/signup">
    
    <button id='signup' hidden></button>

    <div class="sign-up">
        <h1>
            Create an account
        </h1>
        
            <div class="input-field">
                <i class="fa-user"></i>
                <input type="text"  name="fullname" id="fullname" placeholder="*Fullname" required>
            </div>

            <div class="input-field">
                <i class="fa-user"></i>
                <input type="text" name="username" id="username" placeholder="*Username" required>
            </div>

            <div class="input-field">
                <i class="fa-user"></i>
                <input type="email"  name="email" id="email" placeholder="*Email" required>
            </div>

            <div class="input-field">
                <i class="fa-user"></i>
                <input type="password"  name="password" minlength="6" placeholder="*Password" required>
            </div>

        <div>
            <button type="submit"><span></span> Signup </button>
        </div>
        <a href="/">Go Back!</a> 
    </form>
</div>

<div class="banner">
<img src="{{ url_for('static', filename='imgs/logo.png') }}" class="logo">
</div>

</body>
</html>