<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

<div class="banner">
    <form method="post" action="/signup">

<button id='signup' hidden></button>

    <div class="yay">
        <h2>
            Create an account
        </h2>

        <h4 >
            Please fill up your information below to sign up.
        </h4>
        
        <div>
            <label>Full Name*</label>
            <div>
                <input type="text"  name="fullname" id="fullname" required>
            </div>
        </div>

        <div>
            <label>Username*</label>
            <div>
                <input type="text" name="username" id="username" required>
            </div>
        </div>

        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>

        <div>
            <button type="submit"> Signup </button>
        </div>
    </form>
</div>

</body>
</html>